In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
txt_file = '/Users/yufanwang/Desktop/Study/Project/Data/Fscore.txt'

In [23]:
name = []
weight = []
mean = []


TP = []
FP = []
FN = []
Prec = []
Rec = []
F05 = []
f = open(txt_file)               # 返回一个文件对象 
lines = f.readlines()               # 调用文件的 readline()方法 
name_lines = lines[0::7]
score_lines = lines[4::7]

for item in name_lines:
    value = item.split('_')
    
    name.append(value[0]+"_"+value[1])
    mean.append(value[2])
    weight.append(value[3])
exp=range(len(name_lines))

for item in score_lines:
    value = item.split('\t')
    TP.append(value[0])
    FP.append(value[1])
    FN.append(value[2])
    Prec.append(value[3])
    Rec.append(value[4])
    F05.append(value[5][:-2])

In [24]:
data = {'name':name,
        'epoch':exp,
        'mean':mean,
    'weight':weight,
       'TP':TP,
       'FP':FP,
        'FN':FN,
        'Prec':Prec,
        'Rec':Rec,
        'F0.5':F05}
df = pd.DataFrame(data)
df

,name,epoch,mean,weight,TP,FP,FN,Prec,Rec,F0.5
0,Adversarial_mul,0,1.0,0.1,1673,2189,2794,0.4332,0.3745,0.4
1,Adversarial_mul,1,1.0,0.1,1648,2034,2819,0.4476,0.3689,0.429
2,Adversarial_mul,2,1.0,0.1,1643,1752,2824,0.4839,0.3678,0.455
3,Adversarial_mul,3,1.0,0.1,1739,2028,2728,0.4616,0.3893,0.445
4,Gaussian-adversarial_mul,4,1.0,0.1,1732,1483,2735,0.5387,0.3877,0.499
5,Gaussian-adversarial_mul,5,1.0,0.1,1731,1522,2736,0.5321,0.3875,0.495
6,Gaussian-adversarial_mul,6,1.0,0.1,1762,1455,2705,0.5477,0.3944,0.508
7,Gaussian-adversarial_mul,7,1.0,0.1,1741,1502,2726,0.5368,0.3897,0.499
8,Gaussian-adversarial_mul,8,1.0,0.1,1759,1444,2708,0.5492,0.3938,0.50
9,Gaussian_mul,9,1.0,1.8,1665,1993,2802,0.4552,0.3727,0.435
10,Gaussian_mul,10,1.0,1.8,1624,1917,2843,0.4586,0.3636,0.435
11,Gaussian_mul,11,1.0,1.8,1635,1753,2832,0.4826,0.366,0.453
12,Gaussian_mul,12,1.0,1.8,1643,1772,2824,0.4811,0.3678,0.453
13,Gaussian_mul,13,1.0,1.8,1669,1649,2798,0.503,0.3736,0.470

In [25]:
df[['TP','FP','FN','Prec','Rec','F0.5']]

      TP    FP    FN    Prec     Rec   F0.5
0   1673  2189  2794  0.4332  0.3745    0.4
1   1648  2034  2819  0.4476  0.3689  0.429
2   1643  1752  2824  0.4839  0.3678  0.455
3   1739  2028  2728  0.4616  0.3893  0.445
4   1732  1483  2735  0.5387  0.3877  0.499
5   1731  1522  2736  0.5321  0.3875  0.495
6   1762  1455  2705  0.5477  0.3944  0.508
7   1741  1502  2726  0.5368  0.3897  0.499
8   1759  1444  2708  0.5492  0.3938   0.50
9   1665  1993  2802  0.4552  0.3727  0.435
10  1624  1917  2843  0.4586  0.3636  0.435
11  1635  1753  2832  0.4826   0.366  0.453
12  1643  1772  2824  0.4811  0.3678  0.453
13  1669  1649  2798   0.503  0.3736  0.470

In [29]:
print(df[['name','TP','FP','FN','Prec','Rec','F0.5']].to_latex())

\begin{tabular}{llllllll}
\toprule
{} &                      name &    TP &    FP &    FN &    Prec &     Rec &   F0.5 \\
\midrule
0  &           Adversarial\_mul &  1673 &  2189 &  2794 &  0.4332 &  0.3745 &    0.4 \\
1  &           Adversarial\_mul &  1648 &  2034 &  2819 &  0.4476 &  0.3689 &  0.429 \\
2  &           Adversarial\_mul &  1643 &  1752 &  2824 &  0.4839 &  0.3678 &  0.455 \\
3  &           Adversarial\_mul &  1739 &  2028 &  2728 &  0.4616 &  0.3893 &  0.445 \\
4  &  Gaussian-adversarial\_mul &  1732 &  1483 &  2735 &  0.5387 &  0.3877 &  0.499 \\
5  &  Gaussian-adversarial\_mul &  1731 &  1522 &  2736 &  0.5321 &  0.3875 &  0.495 \\
6  &  Gaussian-adversarial\_mul &  1762 &  1455 &  2705 &  0.5477 &  0.3944 &  0.508 \\
7  &  Gaussian-adversarial\_mul &  1741 &  1502 &  2726 &  0.5368 &  0.3897 &  0.499 \\
8  &  Gaussian-adversarial\_mul &  1759 &  1444 &  2708 &  0.5492 &  0.3938 &   0.50 \\
9  &              Gaussian\_mul &  1665 &  1993 &  2802 &  0.4552 &  0.3727 &  0.435 \\
10 &              Gaussian\_mul &  1624 &  1917 &  2843 &  0.4586 &  0.3636 &  0.435 \\
11 &              Gaussian\_mul &  1635 &  1753 &  2832 &  0.4826 &   0.366 &  0.453 \\
12 &              Gaussian\_mul &  1643 &  1772 &  2824 &  0.4811 &  0.3678 &  0.453 \\
13 &              Gaussian\_mul &  1669 &  1649 &  2798 &   0.503 &  0.3736 &  0.470 \\
\bottomrule
\end{tabular}

In [33]:
df_print = df[df['name'] == 'Adversarial_mul']
df_print

              name  epoch mean weight    TP    FP    FN    Prec     Rec   F0.5
0  Adversarial_mul      0  1.0    0.1  1673  2189  2794  0.4332  0.3745    0.4
1  Adversarial_mul      1  1.0    0.1  1648  2034  2819  0.4476  0.3689  0.429
2  Adversarial_mul      2  1.0    0.1  1643  1752  2824  0.4839  0.3678  0.455
3  Adversarial_mul      3  1.0    0.1  1739  2028  2728  0.4616  0.3893  0.445

In [36]:
print(df_print[['TP','FP','FN','Prec','Rec','F0.5']].to_latex())

\begin{tabular}{lllllll}
\toprule
{} &    TP &    FP &    FN &    Prec &     Rec &   F0.5 \\
\midrule
0 &  1673 &  2189 &  2794 &  0.4332 &  0.3745 &    0.4 \\
1 &  1648 &  2034 &  2819 &  0.4476 &  0.3689 &  0.429 \\
2 &  1643 &  1752 &  2824 &  0.4839 &  0.3678 &  0.455 \\
3 &  1739 &  2028 &  2728 &  0.4616 &  0.3893 &  0.445 \\
\bottomrule
\end{tabular}

In [37]:
df_print = df[df['name'] == 'Gaussian-adversarial_mul']
df_print

,name,epoch,mean,weight,TP,FP,FN,Prec,Rec,F0.5
4,Gaussian-adversarial_mul,4,1.0,0.1,1732,1483,2735,0.5387,0.3877,0.499
5,Gaussian-adversarial_mul,5,1.0,0.1,1731,1522,2736,0.5321,0.3875,0.495
6,Gaussian-adversarial_mul,6,1.0,0.1,1762,1455,2705,0.5477,0.3944,0.508
7,Gaussian-adversarial_mul,7,1.0,0.1,1741,1502,2726,0.5368,0.3897,0.499
8,Gaussian-adversarial_mul,8,1.0,0.1,1759,1444,2708,0.5492,0.3938,0.50

In [38]:
print(df_print[['TP','FP','FN','Prec','Rec','F0.5']].to_latex())

\begin{tabular}{lllllll}
\toprule
{} &    TP &    FP &    FN &    Prec &     Rec &   F0.5 \\
\midrule
4 &  1732 &  1483 &  2735 &  0.5387 &  0.3877 &  0.499 \\
5 &  1731 &  1522 &  2736 &  0.5321 &  0.3875 &  0.495 \\
6 &  1762 &  1455 &  2705 &  0.5477 &  0.3944 &  0.508 \\
7 &  1741 &  1502 &  2726 &  0.5368 &  0.3897 &  0.499 \\
8 &  1759 &  1444 &  2708 &  0.5492 &  0.3938 &   0.50 \\
\bottomrule
\end{tabular}